.header {
  height: 150px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: black;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
